<!--div class="row">
    <div class="col s2"><a class="btn-floating btn-large waves-effect waves-light" (click)="goBack()"><i class="material-icons">chevron_left</i></a></div>
    <div class="col s10 title">{{book.name | uppercase}}</div>
</div>
<div class="divider"></div>
<div class="row">
    <div class="col s6">
	<h3>Description</h3>
	<p>{{book.description}}</p>
    </div>
    <div class="col s6">
	<h3>Quotes</h3>
	<p>{{book.quote}}</p>
    </div>
</div>
<div class="divider"></div>
<div class="row">
    <div class="col s12 footer">{{book.author}} | </div>
</div-->